#main
    {
        margin: 0 auto;
        width: 90%;
        color: #7F3804;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /*justify-content: space-between;*/
    }
div.item
    {
        width: 40%;
        background: #F4EBD1;
        padding: 15px 30px 25px;
        border-radius: 30px;
        border: #7F3804 solid 1px;
        margin: 10px;
    }
h1, div.div_elem
    {
        width: 85%;
    }
.www
    {
        font-style: italic;
        color: #901212;
        background-color: #E5C1C1;
        border-radius: 10px;
    }
.aaa
    {
        text-decoration: underline;
        font-size: 15px;
        text-align: center;
        padding: 10px 3px;
    }
.ppp 
    {
        margin-left: auto;
        margin-right: auto;
        width: 160px;
        border: 3px solid #c42b2b;
        border-left: 6px dotted #850303;
        
    }
.ccc
    {
        color: #57D906;
    }
.scrollX
    {
        width: 70px;
        overflow-x: auto;
    }
.scrollY
    {
        height: 105px;
        overflow-y: auto;
    }
table, td, th
    {
        padding: 2px;
        border-collapse: collapse;
        border: 1px black solid;
        text-align: center;
        vertical-align: center;
        margin: 5px;
    }
td
    {
        height: 20px;
        width: 80px; 
    }
.test_block
    {
        height: 300px;
    }
.ball
    {
        width: 60px;
        height: 60px;
        background-color: #000000;
        position: relative;
    }
select
    {
        min-width: 70px;
    }